body {
  background-color:#AAAAAA;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

a {
  color: #00B7FF;
}

.container {
    border-radius: 25px;
    opacity: .9;
    color: black;
    background-color: white;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
    margin: 1em;
}

/* Create a custom radio button */
.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	border-radius: 50%;
	background: white;
}

.disabled-button {
    color: red;
}

.enabled-button {
    color: green;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.data-container {
    width: 33%;
    word-wrap: break-word;
    font-size: 150%;
    border-radius: 25px;
    margin: 1em;
}

.male-color {
    background-color: #89CFF0;
}

.female-color {
    background-color: #FFB6C1;
}

.fun-fact-title {
    width: 100%;
    font-size: 300%;
    border-radius: 25px;
    margin: 1em;
}

.name-container {
    width: 100%;
    font-size: 500%;
    margin: 1em;
    border-radius: 25px;
}