<html>

<head>
    <title>BabyName</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="javascript/babyName.js"></script>
</head>


<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <div>
            <form>
                Pick a gender:
                <input type="radio" ng-model="genderButt" value="Male">Male
                <input type="radio" ng-model="genderButt" value="Female">Female<br>
                Enter a birthday (MM/DD): <input type="text" ng-model="date">
            </form>
        </div>

        <button ng-click="computeChild()">Give Me Child</button>
        <div>
            {{name}}
            {{fact}}
        </div>
    </div>



</body>

</html>
