<html>

<head>
    <title>BabyName</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="javascript/babyName.js"></script>
</head>


<body>
    <div ng-app="myApp" ng-controller="myCtrl" class="container">

        <div>
            <form>
                   <h1>Make a Baby</h1><br>
                <input class="checkmark" type="radio" ng-model="genderButt" value="Male" ng-click="isMale()" >Male
                <input class="checkmark" type="radio" ng-model="genderButt" value="Female" ng-click="isFemale()" >Female
            </form>
        </div>

        <button ng-click="getChild()">Give Me Child</button>
        <div>
            {{name}}
        </div>
    </div>



</body>

</html>
